*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3
, #0073e6);
}

#form{
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#sign-up{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 20px;
    font-size: 22px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    border: 0.5px solid black;
    box-shadow: 3px 3px 8px black;
}

.input-value{
    width: 310px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#btn{
    width: 220px;
    padding: 20px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    cursor: pointer;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
    color: white;
    transition: 0.5s;
    border-radius: 20px;
    transition: 0.5s ease;
}

#btn:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

h2{
    color: black;
    font-size: 40px;
}

p{
    color: black;
    font-family: monospace;
}

a{
    text-decoration: none;
    color:#0073e6;
    margin-left: 15px;
}

/* #login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 20px;
    font-size: 22px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    border: 0.5px solid black;
    box-shadow: 3px 3px 8px black;
}

#login-btn{
    width: 220px;
    padding: 20px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    cursor: pointer;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
    color: white;
    transition: 0.5s;
    border-radius: 20px;
    transition: 0.5s ease;
}

#login-btn:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
} */